<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Webauth Test</title>
</head>
<body>
    <form method='post'>
        <label for="ucinetid">UCInetID:</label>
        <input type="text" name="ucinetid" />
        <input type="submit" />
    </form>
</body>
</html>
